@import '~antd/dist/antd.css';

.user_login{
  display: inline-block;
  float: right;
  font-size: 3vw;
}

.custom-image img {
  display: block;
}
.custom-card {
  padding: 10px 16px;
}
.custom-card p {
  color: #999;
}

.logo {
  width: 120px;
  height: 31px;
  background: #333;
  border-radius: 6px;
  margin: 16px 28px 16px 0;
  float: left;
  line-height: 100%;
  font-size: 30px;
  vertical-align: middle;
  text-align: center;
  color: '#555'
}

.loading_spiner__container {
    position: relative;
    height: 700px;
}
.loading_spiner {
   position: absolute;
   width: 100%;
}
